:root{
    font-family: 'Roboto', sans-serif;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 1,26666;
    color: black;
}

.heder-info{
    background: #000000;
    font-size: .8rem;
    line-height: 1.25;
    text-align: center;
    letter-spacing: 2px;
    color: #FBFBFB;
    padding: 7px;
}